@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&family=Secular+One&display=swap');

*{
    font-family: 'Rubik', sans-serif;
}
html{
    scroll-padding-top: 43vh;
}

body{
    margin: 0px;
    background-color: rgb(225, 225, 225);
}

header{
    width:100%;
    height:40vh;
    background-color: rgb(25, 44, 44);
    border-bottom: rgb(19, 31, 31) 7px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    top:0px;
}

nav{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    color: #dadada;
    text-decoration: none;
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
}

nav a:hover{
    color:pink;
}

p{
    margin-bottom: 10px;
}

strong{
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
}

h1{
    margin: 0px;
    font-family: 'Secular One', sans-serif;
    color: #9EBC9E;
    font-size: 4em;
    text-shadow: 2px 2px #8b8b8b;
}

h4{
    margin: 0px;
    font-family: 'Secular One', sans-serif;
    color: #a5836f;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

hr{
    border-bottom: rgb(19, 31, 31) 7px solid;
}

table{
    width: 100%;
    border: 0px;
    text-align: left;
}
section{
    height:60vh;
    background-color: #f0f0f0;
    padding:3%;
    border-bottom: 1px solid #a5836f;
    text-align: center;
}

section:nth-of-type(odd){
    background-color: #dadada;
}

blockquote{
    background-color: rgba(255, 255, 255, 0.489);
    padding: 2%;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-bottom: 3px solid pink;
    transition-duration: 2s;
}

blockquote:hover{
    border-bottom: 3px solid darkslategray;
}

section img{
    width:10%;
}

.content{
    margin-top: 41vh;
}

.tobyimg{
    width:15%;
    float:left;
    margin: 1%;
    border: rgba(255, 255, 255, 0.224) solid 5px;
    transition-duration: 3s;
}

.tobyimg:hover{
    border: rgb(255, 255, 255) solid 5px;
}

.spacer-img{
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}




/* figcaption{
    text-align: center;
} */